<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      keepVariablesOnReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="${basedir}/Logs/nlog.log" >
	<!-- internalLogLevel值：Off|Trace|Debug|Info|Warn|Error|Fatal -->

	<targets>
		<!--<target name="console" xsi:type="Console" />-->

		<!-- write logs to file -->
		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" fileName="${basedir}/Logs/${shortdate}.txt" maxArchiveFiles="30000"
					layout="${longdate}|${level:uppercase=true}|message::${message}|exception::${onexception:${exception:format=tostring}}|stacktrace::${stacktrace}" />
		</target>

		<!-- write logs to file -->
		<target name="errorfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" fileName="${basedir}/Logs/${shortdate}_error.txt" maxArchiveFiles="30000"
					layout="${longdate}|${level:uppercase=true}|message::${message}|exception::${onexception:${exception:format=tostring}}|stacktrace::${stacktrace}" />
		</target>

	</targets>
	<rules>
		<!--<logger name="*" minlevel="Debug" writeTo="console" />-->

		<!-- Trace|Debug|Info|Warn|Error|Fatal -->
		<logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="file" />
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorfile" />

	</rules>
</nlog>